<% provide(:title, 'Collection') %>
<h1>Collection</h1>

<%= will_paginate %>

<ul class="products clearfix">
  <% @products.each do |product| %>
    <li>
      <div class="list-inner">
	<p class="thumb">
	  <%= link_to image_tag(product.main_image.thumb.url), product %>
	</p>
	<div>
	  <p class="name"><%= product.name %></p>
	  <p class="price">$ <%= product.price %></p>
	</div>
      </div>
    </li>
  <% end %>
</ul>

<%= will_paginate %>
